Repository kookmin-sw/capstone-2025-09, pull requests merged in 2025-03, with the labels that each got.

#14 docs: ISSUE/PR 템플릿 업로드 #8
  .github/ISSUE_TEMPLETE/Issue-bug-template.yml
  .github/ISSUE_TEMPLETE/Issue-feature-template.yml
  .github/ISSUE_TEMPLETE/Issue-fix-template.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#17 feat: github actions workflow 생성
  .github/ISSUE_TEMPLATE/Issue-bug-template.yml
  .github/ISSUE_TEMPLATE/Issue-feature-template.yml
  .github/ISSUE_TEMPLATE/Issue-fix-template.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/gradle.yml
  test.txt
Labels: feature

#21 Backend/feature/cd setup
  .github/ISSUE_TEMPLATE/Issue-bug-template.yml
  .github/ISSUE_TEMPLATE/Issue-feature-template.yml
  .github/ISSUE_TEMPLATE/Issue-fix-template.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/gradle.yml
  backend/Dockerfile
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackService.kt
  test.txt
Labels: backend, feature

#28 chore: RDS 연결을 위한 설정 파일 변경
  backend/build.gradle.kts
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/config/SwaggerConfig.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/config/WebConfig.kt
Labels: backend, fix

#29 Backend/feature/voicepack creation
  backend/build.gradle.kts
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/config/SupabaseConfig.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/notification/NotificationService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/Voicepack.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackController.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackRepository.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackService.kt
Labels: backend, feature

#30 feat: 초기 레이아웃 및 라우팅 구현
  .idea/capstone.iml
  .idea/modules.xml
  .idea/shelf/25__3__20___12_02__________.xml
  .idea/shelf/25__3__20__오후_12_02,_체크아웃_전에_커밋되지_않은_변경_내용_[변경]/shelved.patch
  .idea/vcs.xml
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/assets/logo.svg
  frontend/src/components/Header.js
  frontend/src/components/Sidebar.js
  frontend/src/data/VoicepackData.js
  frontend/src/pages/AiAssistant.js
  frontend/src/pages/BasicVoice.js
  frontend/src/pages/Landing.js
  frontend/src/pages/LoginPage.js
  frontend/src/pages/MyPage.js
  frontend/src/pages/SignIn.js
  frontend/src/pages/SignUp.js
  frontend/src/pages/VoiceCreate.js
  frontend/src/pages/VoiceStore.js
Labels: frontend, feature

#39 feat: voicepack MVP 작업 내용 PR
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/index.js
  frontend/src/pages/CreateVoice.js
  frontend/src/pages/Landing.js
  frontend/src/pages/LandingPage.js
  frontend/src/pages/SignIn.js
  frontend/src/pages/SignUp.js
  frontend/src/pages/VoiceCreate.js
  frontend/src/pages/VoiceMarket.js
  frontend/src/pages/VoiceStore.js
  frontend/vercel.json
Labels: frontend
