Repository kookmin-sw/capstone-2025-09, pull requests merged in 2025-05, with the labels that each got.

#109 feat: 마이페이지 UI 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/common/VoicePack.js
  frontend/src/components/common/VoicePackModal.js
  frontend/src/components/mypage/CreditExchangeList.js
  frontend/src/components/mypage/CreditTransactionTabs.js
  frontend/src/components/mypage/Section.js
  frontend/src/pages/MyPage.js
  frontend/src/pages/mypage/MyDashboard.js
  frontend/src/pages/mypage/MyPayments.js
  frontend/src/pages/mypage/MyRevenue.js
  frontend/src/pages/mypage/MyVoicepacks.js
  frontend/src/pages/mypage/index.js
Labels: frontend, feature

#130 refactor: AI 비서 이용하기 시 voicepackId 요청 로직 제거
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/aiAssistant/controller/AiAssistantController.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/aiAssistant/dto/request/synthesis/AiAssistantSynthesisSubmitRequest.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/aiAssistant/service/AiAssistantService.kt
Labels: backend

#137 feat: AI 비서 API 연결
  frontend/src/components/layout/Sidebar.js
  frontend/src/hooks/useAiAssistant.js
  frontend/src/hooks/useAssistantSetup.js
  frontend/src/pages/ai-assistant/AssistantReadyScreen.js
  frontend/src/pages/ai-assistant/AssistantSetup.js
  frontend/src/pages/ai-assistant/ScriptPlayer.js
Labels: frontend

#142 feat: 회원가입 프로필 이미지 추가 & 기타 수정
  frontend/src/hooks/useSignin.js
  frontend/src/pages/JoinAgreement.js
  frontend/src/pages/SignIn.js
  frontend/src/pages/SignUp.js
  frontend/src/pages/mypage/MyDashboard.js
Labels: frontend, feature

#145 fix: AI 리포터 스크립트 연속 재생안되는 오류 해결
  frontend/src/components/common/AudioListPlayer.js
  frontend/src/components/common/GradientButton.js
  frontend/src/components/layout/Sidebar.js
  frontend/src/pages/ai-assistant/AssistantReadyScreen.js
  frontend/src/pages/ai-assistant/AssistantSetup.js
  frontend/src/pages/ai-assistant/ScriptPlayer.js
Labels: frontend

#143 feat: 보이스팩 생성 시 커버 이미지 및 카테고리 추가
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/common/util/S3ObjectDeleter.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/common/util/S3ObjectUploader.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/Voicepack.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackController.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/convert/VoicepackConvertRequest.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/convert/dto/VoicepackConvertStatusDto.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/dto/VoicepackCreationReqRes.kt
  backend/src/main/resources/application.yaml-example
Labels: backend

#149 feat: 리멤버 보이스 UI 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/layout/Sidebar.js
  frontend/src/pages/RememberVoice.js
Labels: frontend

#150 feat: 보이스팩 프로필이미지 & 카테고리 추가 and 베이직 보이스 감정 추가
  frontend/src/components/common/VoicePack.js
  frontend/src/components/common/VoicePackModal.js
  frontend/src/hooks/useVoicepackConvert.js
  frontend/src/hooks/useVoicepackSynthesis.js
  frontend/src/pages/BasicVoice.js
  frontend/src/pages/VoiceCreate.js
  frontend/src/pages/VoiceStore.js
Labels: frontend, feature

#155 Backend/hotfix
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/aiAssistant/service/AiAssistantService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/common/util/S3ObjectUploader.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/user/User.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/user/UserController.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/user/UserService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/Voicepack.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackService.kt
Labels: backend

#157 feat: AI 비서 세팅 시 사용 권한 없는 보이스팩 예외 처리 추가
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/aiAssistant/controller/AiAssistantController.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/aiAssistant/service/AiAssistantService.kt
Labels: backend

#158 feat: Cloud Run 모델 요청 람다 로직 구현
  lambda/ai_assistant_lambda.py
  lambda/bbcnews/lambda_function.py
  lambda/googlenews/lambda_function.py
  lambda/itnews/lambda_function.py
  lambda/register_speaker_lambda.py
  lambda/synthesize_lambda.py
Labels: backend, ai

#161 feat: AI 비서 카테고리(경제, 스포츠) 추가
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/aiAssistant/enums/Categories.kt
Labels: backend
