Repository kookmin-sw/capstone-2025-09, pull requests merged in 2025-04, with the labels that each got.

#46 feat: 보이스팩 사용권 획득 API 및 관련 데이터 모델 추가
  backend/.gitignore
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackController.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/usageright/VoicepackUsageRight.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/usageright/VoicepackUsageRightDto.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/usageright/VoicepackUsageRightRepository.kt
Labels: backend, feature

#54 refactor: 컴포넌트 디렉토리 구조 변경 및 레이아웃 분리, PageContainer 컴포넌트 추가
  frontend/src/App.js
  frontend/src/components/common/GradientButton.js
  frontend/src/components/common/PageContainer.js
  frontend/src/components/layout/Header.js
  frontend/src/components/layout/Layout.js
  frontend/src/components/layout/Sidebar.js
  frontend/src/components/visual/BlurBackground.js
  frontend/src/components/visual/WaveAninmation.js
  frontend/src/components/visual/WaveSphere.js
  frontend/src/pages/Landing.js
  frontend/src/pages/SignIn.js
  frontend/src/pages/SignUp.js
Labels: frontend, refactor

#59 refactor : 사이드바 & 헤더 수정 및 기본 레이아웃 수정
  frontend/src/components/common/PageContainer.js
  frontend/src/components/layout/Header.js
  frontend/src/components/layout/Layout.js
  frontend/src/components/layout/Sidebar.js
Labels: frontend, refactor

#65 feat: 베이직 보이스 기능 - 보이스팩 비동기 합성
  backend/build.gradle.kts
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/config/CoroutineConfig.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/config/WebConfig.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackController.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/service/VoicepackCallbackService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/synthesis/VoiceSynthesisRequest.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/synthesis/VoiceSynthesisRequestRepository.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/synthesis/dto/VoicepackSynthesisDto.kt
  backend/src/main/resources/application.yaml-example
Labels: backend, feature

#67 Frontend/feature/voicepack testing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/BasicVoice.js
  frontend/src/pages/VoiceCreate.js
Labels: frontend, feature

#68 feat: AI 비서 UI 구현 및 보유한 보이스팩 조회 API 연결
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/components/common/SelectBox.js
  frontend/src/hooks/useVoicepackUsage.js
  frontend/src/pages/AiAssistant.js
  frontend/src/pages/ai-assistant/AssistantReadyScreen.js
  frontend/src/pages/ai-assistant/AssistantSetup.js
  frontend/src/pages/ai-assistant/ScriptPlayer.js
  frontend/src/pages/ai-assistant/index.js
  frontend/src/utils/axiosInstance.js
Labels: frontend, feature

#79 feat: 보이스팩 변환 상태 조회 API 추가 및 관련 DTO 구현
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/notification/NotificationService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackController.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/convert/VoicepackConvertRequest.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/convert/VoicepackConvertRequestRepository.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/convert/dto/VoicepackConvertRequestDto.kt
Labels: backend, feature

#86 feat: 베이직 보이스 페이지 구현 & bug 수정
  frontend/src/components/common/AudioPlayer.js
  frontend/src/hooks/useVoicepackConvert.js
  frontend/src/hooks/useVoicepackSynthesis.js
  frontend/src/pages/BasicVoice.js
  frontend/src/pages/VoiceCreate.js
Labels: frontend, feature

#93 chore: 파비콘 변경 및 사이드바 고정
  frontend/public/covos.png
  frontend/public/index.html
  frontend/src/components/layout/Layout.js
  frontend/src/components/layout/Sidebar.js
Labels: frontend, fix

#96 Feat: 마켓플레이스 구현
  frontend/src/assets/lp.svg
  frontend/src/components/common/GradientButton.js
  frontend/src/components/common/VoicePack.js
  frontend/src/components/common/VoicePackModal.js
  frontend/src/hooks/useBuyVoicepack.js
  frontend/src/hooks/useVoicepackDetail.js
  frontend/src/pages/Landing.js
  frontend/src/pages/VoiceCreate.js
  frontend/src/pages/VoiceStore.js
Labels: frontend, feature

#104 fix: 보이스팩 생성 상태 체크 시 응답에 생성된 보이스팩 ID 포함하도록 수정
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/VoicepackService.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/convert/VoicepackConvertRequest.kt
  backend/src/main/kotlin/kr/ac/kookmin/cs/capstone/voicepack_platform/voicepack/convert/dto/VoicepackConvertRequestDto.kt
Labels: backend, feature
